.container {
  margin-left: auto;
  margin-right: auto;
}

.primo-copy {
  font-size: 1.125rem;
  --text-opacity: 1;
  color: #4a5568;
  color: rgba(74, 85, 104, var(--text-opacity));
  margin-bottom: 4rem;
}

.primo-copy h2 {
    font-weight: 600;
    font-size: 2.25rem;
    --text-opacity: 1;
    color: #2d3748;
    color: rgba(45, 55, 72, var(--text-opacity));
    padding-bottom: 1rem;
  }

.primo-copy h2:after {
    content: '';
    display: block;
    --bg-opacity: 1;
    background-color: #f7fafc;
    background-color: rgba(247, 250, 252, var(--bg-opacity));
    width: 2rem;
    height: 0.25rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

.primo-copy h2 + p {
    font-weight: 500;
    font-size: 1.25rem;
  }